nav{
    background-color: rgba(0,0,0,0.5);
}
#nav-principal ul li a{
    color: #fff;
    font-weight: bold;
}
#nav-principal ul li a:hover{
    color: #0dcaf0;
}
@media (max-width: 768px) {
    #pipe{
        display: none;
    }
}
body{
    background: url(../img/capa.png),
                url(../img/ruido.png),
                linear-gradient(50deg,#ff4169, #7c26f8);
                background-attachment: fixed;
}